/* a comment*/

*{
    box-sizing:border-box;
}

p{
    font-family:sans-serif;
    font-size: medium;
    font-style:normal;
    font-weight: lighter;
}

h1, h2, h3 {
    color:brown;
    font-size: 48px;
}



*{
    color:teal;
}

.redheading{
    color:palegreen;
    background-color: ;
    border-color: ;
    border-width: ;

}


.center{
    text-align: center;
}

.new_background{
    background-color:violet;
    margin: 0%;
    padding: 0%;
    border:0%;
}