body{
    text-align: center;
}

*{
    background-color: khaki;
}



h1{
    font-family:initial;
    color:black;
    background-color: brown;

}

img{
    width:45%;
    max-height: ;
    border-width: 100%;
    border-color: brown;
}

*{
    box-sizing:border-box;
}

p{
    font-family:serif;
    font-size: medium;
    font-style:normal;
    font-weight: lighter;
}

h2, h3 {
    color:brown;
    font-size: 48px;
}



*{
    color:black;
}




